@using BL.ViewModels
@model LoginViewModel
@{ 
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col s6 offset-s3 center">
            <h1>Login</h1>
            <div class="row">
                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary(true)
                    <div class="input-field col s12">
                        @Html.TextBoxFor(m => m.Email, new { @type = "email", @class = "validate" })
                        <label for="Email">Email</label>
                        @Html.ValidationMessageFor(m => m.Email, "", new {@class = "red-text" })
                    </div>
                    <div class="input-field col s12">
                        @Html.PasswordFor(m => m.Password, new { @class = "validate" })
                        <label for="Password">Senha</label>
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "red-text" })
                    </div>
                    <button class="btn col s12" type="submit" name="action">
                        Submit <i class="material-icons right">send</i>
                    </button>
                }
            </div>
        </div>
    </div>
</div>
@section Styles{
 
}