@using BL.ViewModels

@model IEnumerable<UserViewModel>
@{
    ViewBag.Title = "Listagem de usuários";
}
<nav class="main-breadcrumb">
    <div class="nav-wrapper">
        <div class="col s12">
            <a href="@Url.Action("Index", "Home")" class="breadcrumb">Home</a>
            <a href="@Url.Action("Profile", "User")" class="breadcrumb">Perfil</a>
            <a class="breadcrumb">@ViewBag.Title</a>
        </div>
    </div>
</nav>
<div class="container">
    <div id="inner">

    </div>
    <div class="row center">
        <div class="col m8 s12 offset-m2">
            <h4>Gerenciamento de usuários</h4>
            <a href="@Url.Action("New", "User")" class="btn right">Novo usuário<i class="material-icons right">add</i></a>
            <table>
                <thead>
                    <tr>
                        <th>E-mail</th>
                        <th>Username</th>
                        <th>Tipo de usuário</th>
                        <th class="center">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>@user.Email</td>
                            <td>@user.Username</td>
                            <td>@user.UserType.ToString()</td>
                            <td class="center">
                            <a href="@Url.Action("View", "User", new { id = user.UserId })" class="btn btn-floating btn-small" title="Visualizar"><i class="material-icons">portrait</i></a>
                            <a href="@Url.Action("Edit", "User", new { id = user.UserId })" class="btn btn-floating btn-small" title="Editar"><i class="material-icons">mode_edit</i></a>
                            <a onclick="remove('@user.UserId')" class="btn btn-floating btn-small btn-remove" title="Remover"><i class="material-icons">delete</i></a>
                        </td>
                        </tr>
                    }

                </tbody>
            </table>

        </div>
    </div>
</div>

<script>
    const xhr = new XMLHttpRequest();

    xhr.onreadystatechange = function () {
        if (xhr.readyState == 4) {
            if (xhr.status == 200) {
                location.reload();
                return false;
            }
            if (xhr.status == 404 || xhr.status == 400) {
                showErrorMessage(xhr.responseText);
            }
        }
    }

    function remove(id) {
        xhr.open("post", "@Url.Action("Remove", "User")" + "/" + id, false);
        xhr.send();
    }

</script>