@using BL.ViewModels
@model UserViewModel
@{
    ViewBag.Title = ViewBag.UserTypeClaim?? "Visualizar Usuário";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>

<body>
    <nav class="main-breadcrumb">
        <div class="nav-wrapper">
            <div class="col s12">
                <a href="@Url.Action("Index", "Home")" class="breadcrumb">Home</a>
                <a href="@Url.Action("Profile", "User")" class="breadcrumb">Perfil</a>
                @if (ViewBag.CanList)
                {
                    <a href="@Url.Action("List", "User")" class="breadcrumb">Listagem de Usuários</a>
                }
                <a class="breadcrumb">Visualizar Usuário</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <h3 class="">Visualizar usuário - @Model.Username</h3>
            <strong>Username: </strong>@Model.Username
            <br />
            <strong>Email: </strong>@Model.Email
            <br />
            <strong>Tipo de usuário: </strong>@Model.UserType.ToString()
            <br />
            <div style="margin-top: 20px">
                @if (ViewBag.CanEdit)
                {
                    <a href="@Url.Action("Edit", new { id = Model.UserId })" class="btn btn-small">Editar</a>
                }
            </div>
        </div>
    </div>
</body>
</html>
